* {
	box-sizing: border-box;
}

body {
	background: lightgrey;
	color: #0b0c0c;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	color: inherit;
	font-weight: inherit;
	margin-top: 1rem;
	margin-bottom: 1.25rem;
}

h1 {
	font-size: 3.6rem;
	margin-top: 0;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.6rem;
}

.contrast-block h3 {
	font-size: 2rem;
}

.contrast-block h4 {
	margin-top: 2rem;
	font-size: 1.8rem;
}

.contrast-block h5 {
	margin-top: 1.2rem;
	font-size: 1.4rem;
}

.title {
	display: block;
	font-size: 2.6rem;
    margin-top: 1rem;
	color: green;
}

.time {
	font-size: 0.8em;
	font-style: italic;
	color: #505a5f;
}

b {
	font-weight: 400;
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 1em;
    list-style-type: '—';
}

li {
	padding-left: 0.5em;
}
li:not(:last-child) {
	margin-bottom: 0.5em;
}

ul, ol, p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 2rem;
}

main {
	background: white;
	margin: 0;
	max-width: 62rem;
	padding: 2rem 1.25rem;
	margin: 0 auto;
}

a {
	color: green;
}

.conclusion {
	align-self: end;
	margin: 0;
}

.contrast-block {
	background: #f3f2f1;
	padding: 1.75rem 2.25rem;
	margin-bottom: 2.5rem;
}

.compact-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.compact-list li {
	padding-left: 0;
}

.compact-list li:not(:last-child)::after {
	content: ',';
	padding-right: 0.4em;
}

.company {
	color: green;
}

@keyframes pulse {
	100% {
		transform: translate(-5px, 0);
	}
}

a[href^='mailto']::before {
	content: '→';
	display: inline-block;
	margin-right: 5px;
}

@media (prefers-reduced-motion: no-preference) {
	a[href^='mailto']::before {
		animation: pulse 0.3s ease-in-out 8 alternate;
	}
}

.experience h2 {
	margin-top: 0;
}


/* Smaller screens */
@media all and (max-width: 789px) {
	.time {
		display: block;
		margin-top: 0.4rem;
	}

	h1 {
		font-size: 3rem;
	}

	.title {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	.contrast-block h3 {
		font-size: 1.8rem;
	}

	.contrast-block h4 {
		font-size: 1.4rem;
	}

	.contrast-block h5 {
		font-size: 1.2rem;
	}

	ul, ol, p {
		font-size: 1rem;
	}

	.contrast-block {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		margin-left: -1.25rem;
		margin-right: -1.25rem;
	}
}

/* Larger screens */
@media all and (min-width: 790px) {
	main {
		padding: 4rem 3rem;
		margin: 5rem auto;
	}

	.time {
		margin-left: 0.4em;
	}

	.contact ul {
		list-style: none;
		margin-top: 0.5rem;
	}

	.compact-sections {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}
	
	.compact-sections:first-of-type {
		grid-template-columns: 1fr auto;
	}

	.experience h2 {
		margin-bottom: 3rem;
	}
}

@media print {
	body {
		background: initial;
		margin: 0;
		max-width: 795px;
	}

	main {
		max-width: initial;
	}

	.contact a[href*='https'] {
		text-decoration: none;
	}

	.contact a[href*='https']::after {
		padding-left: 0.3em;
		content: "(" attr(href) ")";
		text-decoration: underline;
	}
}
